/* IMPOSTAZIONI GENERALI */
header,
main,
footer {
    width: 90%;
    margin: 1.5em auto;
    box-shadow: 3px 3px 5px gray;
}

body {
    background-image: url('../img/sfondo.png');
    font-family: "Poppins", serif;
}


/* HEADER */
header {
    background-color: #0088AA;
    text-align: center;
    color: white;
}

#logo {
    width: 60%;
    margin-top: 2.5em;
}

header h1,
header nav li {
    font-size: 1.2em;
    font-weight: 500;
}

header h1 {
    margin: 1.5em;
}


header nav a {
    color: white;
    text-decoration: none;
}

header nav {
    padding-bottom: 2.5em;
}

/* MAIN */





/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
